* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body {
    font-family: 'Poppins', sans-serif;
}

/* headings */

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    color: #d8d8d8;
}

/* buutton */

button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}

button:hover {
    background-color: #3a3833;
}

/* navigation */

.navbar {
    background-color: white;
    font-size: 16px;
    top: 0;
    left: 0;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar i.action {
    color: coral;
}

.navbar i {
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* mobile navigation */

.navbar-expand-lg .navbar-toggler {
    border: none;
    outline: none;
}

#bar {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    transition: 0.3s ease;
    color: black;
}

#bar:hover,
#bar.active {
    color: #fff;
}

@media only screen and (max-width: 991px) {
    body > nav > div > button:hover,
    body > nav > div > button:focus {
        background-color: #fb774b;
    }

    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar{
        color: #fff;
    }

    #navbarSupportedContent > ul {
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a {
        padding: 10px 0;
    }
}

/* home-section */

#home {
    background-image: url(img/back.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span {
    color: coral;
}

/* new-section */

#new .one img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



